<view link-data="ui/templates/samples/framework/app.json"  width="100" height="100" let="content=data.content" render-after-ext-scripts x='center' y='center' abs wrap column>
    <thread name="data inspect ui" priority="1"> </thread>
    <thread name="var defaults" priority="2"> </thread>
    <thread name="child index" priority="3"> </thread>
    <thread name="multiple components, one file" priority="4"> </thread>
    <thread name="general loaders" priority="4"> </thread>
    <!-- <thread name="Core Functionality" priority="1"> </thread>
    <thread name="Cleanup" priority="2"> </thread>
    <thread name="Tracy" priority="3"> </thread>
    <thread name="Demo" priority="4"> </thread>
    <thread name="Performance" priority="5"> </thread> -->
</view>