@import '../../../shared/css/scss/partials/mixin';

.ui-guru-scene {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -270px;
	margin-left: -400px;
	width: 800px;
	height: 450;
}
.ui-guru-loader {
	background: #C6DDD6;
	.loader-portal-container {
		background: #C6DDD6;
	}
	.states.loader-portal {
		background: #C6DDD6;
	    .logo {
	        position: absolute;
	        top: 5px;
	        left: 25px;
	        width: 200px;
	        height: 70px;
	    }
	}
	.portal-transition {
		background: $aero;
	}
	.portal-end {
		z-index: 10;
		background: #C6DDD6;
	}
}
