<view link-data="ui/templates/samples/loaders/uguru.json" bg="slate">
	<div class="loader-portal-outer"
		u on-init='s:[portal-open:public]'>
		<div class="loader-portal states">
			<div class="loader-portal-inside"
				u init-with="p:[tr:scale(0), tro:50% 90%]"
				when-portal-open="a:[scale:0:1:250:easeInOutBack:100:1:f]">
				<div class="portal"
	                u init-with="p:[tr:translateY(74px) translateZ(25px) rotateX(75deg)]"
	                when-portal-transform="a:[translateY:37%:-37.5%:650:easeOutCirc:0:1:f, translateZ:25px:0px:650:easeOutCubic:0:1:f, rotateX:75deg:0deg:650:easeOutSine:0:1:f]">

	                <!-- when-portal-transform="a:[translateY:74px:-75px:650:easeOutCirc:0:1:f, translateZ:25px:0px:650:easeOutCubic:0:1:f, rotateX:75deg:0deg:650:easeOutSine:0:1:f]"> -->
	                <!-- when-portal-transform="a:[translateY:74px:-75px:650:linear:0:1:f, translateZ:25px:0px:650:linear:0:1:f, rotateX:75deg:0deg:650:linear:0:1:f]"> -->
	                <div>
	                    <svg width="200px" height="200px" viewBox="0 0 400 400">
	                        <circle cx="200" cy="200" r="192"
	                            stroke-width="16" fill="#2B3234" stroke-linecap="round" stroke-linejoin="round"
								u init-with="p:[s:rgba(105,179,165,1), sda:1206.38, sdo:1206.38]"
	                            when-portal-hover="a:[portal-progress-color:2000:linear:0:1:f, stroke-dashoffset:1206.38:0:2000:linear:0:1:f] | s:[portal-complete:public:2000, portal-transform:public:4000]">
								<!-- stroke:rgba(246,198,78,1):rgba(105,179,165,1):2000:linear:0:1:f -->
	                        </circle>
	                    </svg>
	                </div>
	                <div class="mask"></div>
	            </div>
				<div class="logo"
					u init-with="p:[tr:scale(0.5) translateY(700px), tro:center center]"
					when-portal-open="a:[scale:0.5:1:500:easeInOutBack:0:1:f, translateY:700px:0px:500:easeOutExpo:0:1:f]:delay-500"
					when-portal-complete="a:[translateY:0px:350px:150:easeInOutBack:1000:1:f]">
					<replace with="ui/templates/samples/loaders/components/logo-default.html"></replace>
				</div>
				<div class="guru"
					u init-with="p:[tr:translateY(400px) scale(0.8), tro:center top]"
					when-portal-open="a:[translateY:400px:45px:500:easeOutBack:0:1:f, scale:0.8:1:500:easeOutBack:0:1:f]:delay-900 | s:[portal-hover:public:950]"
					when-portal-complete="a:[translateY:45px:400px:200:easeInBack:750:1:f]">
					<div u when-portal-hover="a:[l-head-hover:800:linear:0:3:f]">
						<replace with="ui/templates/samples/loaders/components/guru-default.html"></replace>
					</div>
				</div>
			</div>
		</div>

		<!-- <div class="portal-transition-container"
			u init-with="p:[width:200px, height:200px, left:50%, top:50%, margin-left:-100px, margin-top:-100px, border-radius:100%, op:0, tr:translateY(20.5%) translateZ(25px) rotateX(84deg)]"
			when-portal-transform="a:[opacity:0:1:250:easeOutSine:750:1:f, translateY:71.5%:0%:650:easeOutCirc:0:1:f, rotateX:84deg:0deg:650:easeOutSine:0:1:f] | s:[warp-open:public:500]"
			when-warp-open="p:[width:100%, height:100%, left:0, top:0, margin-left:0, margin-top:0, border-radius:0]">
			<div class="portal-transition" bg="#16293A"
				u init-with="p:[-webkit-clip-path:circle(90px at 50% 50%)]"


				when-warp-open="a:[-webkit-clip-path:circle(90px at 50% 50%):circle(1500px at 50% 50%):750:(1,0,1,0):0:1:f] | s:[warp-transition:public:1000]"
				when-warp-transition="p:[-webkit-clip-path:none] | s:[transition-start:public:1200]">
				<warp-tunnel></warp-tunnel>
				<warp-items></warp-items>
			</div>
		</div> -->
	</div>

	<div class="portal-page"
		u init-with="p:[op:0]"
		when-warp-open="a:[opacity:0:1:250:easeOutSine:300:1:f]">
		<div class="portal-page-round"
			u init-with="p:[-webkit-clip-path:circle(8px at 50% 50%), tr:translateY(2px), overflow:hidden]"
			when-transition-start="a:[-webkit-clip-path:circle(8px at 50% 50%):circle(1500px at 50% 50%):750:(1,0,1,0):0:1:f, translateY:2px:0px:750:linear:0:1:f] | s:[transition-end:self:750]"
			when-transition-end="p:[-webkit-clip-path:none]">
			<div class="portal-page-splash"
				u init-with="p:[op:0]"
				when-transition-start="a:[opacity:0:1:500:easeOutSine:0:1:f] | s:[head-squash:public:600]">
				<!-- <warp-page custom></warp-page> -->
				<main class='splash-landing'
					u init-with="p:[tro:center center, tr:scale(0.2) translateZ(0px)]"
					when-head-squash="a:[scale:0.2:1:750:easeOutExpo:0:1:f]">
					<section id='splash-home' class='splash-hero'
						u init-with="p:[bg:#FFFFFF]"
						when-head-squash="a:[background:rgba(255,255,255,1):rgba(64,72,75,1):750:easeOutSine:0:1:f]">
					</section>
				</main>
			</div>
		</div>
	</div>
</view>
