<svg viewBox="0 0 200 125" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round">
        <rect fill="#EA7568" x="0" y="0" width="200" height="125"></rect>
        <path d="M18.4969697,111 L181.50303,111" stroke="#4A5866" stroke-width="2"></path>
        <path d="M20.1242424,106 L60.8757576,106" stroke="#4A5866" stroke-width="4"></path>
        <path d="M170.027273,106 L178.972727,106" stroke="#4A5866" stroke-width="4"></path>
        <rect stroke="#4A5866" stroke-width="2" fill-opacity="0.5" fill="#FFFFFF" x="130" y="115" width="52" height="10"></rect>
        <rect stroke="#4A5866" stroke-width="2" fill-opacity="0.5" fill="#FFFFFF" x="74" y="115" width="52" height="10"></rect>
        <rect stroke="#4A5866" stroke-width="2" fill-opacity="0.5" fill="#FFFFFF" x="18" y="115" width="52" height="10"></rect>
        <path d="M18.4969697,64 L181.50303,64" stroke="#4A5866" stroke-width="2"></path>
        <path d="M20.1242424,59 L60.8757576,59" stroke="#4A5866" stroke-width="4"></path>
        <path d="M170.027273,59 L178.972727,59" stroke="#4A5866" stroke-width="4"></path>
        <path d="M8.06969697,9 L30.930303,9" stroke="#FFFFFF" stroke-width="4"></path>
        <circle fill="#4A5866" cx="189" cy="9" r="3"></circle>
        <circle fill="#FFFFFF" cx="181" cy="9" r="3"></circle>
        <circle fill="#FFFFFF" cx="173" cy="9" r="3"></circle>
        <rect stroke="#587498" stroke-width="2" x="18" y="21" width="164" height="30"></rect>
        <path d="M92,37 L171,37" stroke="#587498" stroke-width="2"></path>
        <path d="M92,44 L156,44" stroke="#587498" stroke-width="2"></path>
        <path d="M92,29 L171,29" stroke="#587498" stroke-width="2"></path>
        <path d="M84,26 L84,46" stroke="#587498" stroke-width="2"></path>
        <path d="M38,41.5 L62.9090909,41.5" stroke="#587498" stroke-width="3"></path>
        <path d="M33.5909091,46 L67.5,46" stroke="#587498" stroke-width="2"></path>
        <circle stroke="#587498" stroke-width="2" fill="#8A9EA3" cx="50.5" cy="31" r="6"></circle>
        <rect stroke="#4A5866" stroke-width="2" fill-opacity="0.5" fill="#FFFFFF" x="130" y="68" width="52" height="30"></rect>
        <rect stroke="#4A5866" stroke-width="2" fill-opacity="0.5" fill="#FFFFFF" x="74" y="68" width="52" height="30"></rect>
        <rect stroke="#4A5866" stroke-width="2" fill-opacity="0.5" fill="#FFFFFF" x="18" y="68" width="52" height="30"></rect>
    </g>
</svg>
