<view bg="charcoal" link-data="ui/templates/samples/cards/gallery.json" render-after-ext-scripts let="content=data.content">
	<div width="100" height="100" wrap y-start scroll-y class="overflow-auto">
		<header x-center y-center width="100" p="15px 15px 0">
			<h1 f-s="32px" f-w="900" letter-spacing="2px" caps class="caps">Cardlets</h1>
		</header>
		<ul wrap y-start width="100" p="7.5px">
			<li p="7.5px" grow="1" basis="400px" perspective="1000" class="perspective-container">
				<pf-cardlet-def></pf-cardlet-def>
			</li>
			<li p="7.5px" grow="1" basis="400px" perspective="1000" class="perspective-container">
				<pf-cardlet-aca></pf-cardlet-aca>
			</li>
			<li p="7.5px" grow="1" basis="400px" perspective="1000" class="perspective-container">
				<pf-cardlet-bkg></pf-cardlet-bkg>
			</li>
			<li p="7.5px" grow="1" basis="400px" perspective="1000" class="perspective-container">
				<pf-cardlet-pht></pf-cardlet-pht>
			</li>
			<li p="7.5px" grow="1" basis="400px" perspective="1000" class="perspective-container">
				<pf-cardlet-tch></pf-cardlet-tch>
			</li>
			<li p="7.5px" grow="1" basis="400px" perspective="1000" class="perspective-container">
				<pf-cardlet-hhd></pf-cardlet-hhd>
			</li>
		</ul>
	</div>
</view>
