<view link-data="ui/templates/samples/trivia/star-wars.json" render-after-ext-scripts
	bg="#151515">
	<main w="100%" h="100%">

		<!-- <main-header header="data.vars.editable.nav.header"></main-header> -->
		<div rel h="calc(100% - 168px)">
			<section abs top="0" left="0" w="100%" h="100%" class="overflow-auto"
				u init-with="p:[op:1, z-index:1]"
				when-active-tab-planets="p:[op:0, z-index:-1]">
				<ul wrap x-center p="6px">
					<people-card u-list="char in data.content.char" char="char" p="6px"></people-card>
				</ul>
			</section>
			<section abs top="0" left="0" w="100%" h="100%" class="overflow-auto"
				u init-with="p:[op:0, z-index:-1]"
				when-active-tab-planets="p:[op:1, z-index:1]">
				<ul wrap x-center p="6px">
					<planet-card u-list="planet in data.content.planets" planet="planet" p="6px"></planet-card>
				</ul>
			</section>
		</div>
	</main>
</view>
