<view link-data="ui/templates/samples/visualizer/viz.sm.json"  render-after-ext-scripts width="100" height="100" let="content=data.content" >

    <!-- Newest concept, try this after verifying animation time-->
    <!-- <loader min-ms="3300" fixed height='100' width='100' import="ui/templates/samples/visualizer/components/viz-view-loader.html"></loader> -->

    <div width="100" height="100" y-center scroll-x>
        <viz-bar-sm u-list="sample in data.content.viz.samples:trim(5)" sample-default="data.vars.samples[$index]" sample="sample"> </viz-bar-sm>
    </div>

</view>
