<view link-data="ui/templates/concepts/vars/tabs.examples.json" render-after-ext-scripts
    width="100" height="100" bg="stone" column wrap>

    <ul y-start wrap width="100" gutter="15px" class="p15-grid overflow-y" u
        init-with="eval:[set:activeIndex:3]"
        >
        <li x='center' grow='1' u-list="argument in data.vars.arguments" on-click="eval:[argument]">
            {{argument.name}}
        </li>
    </ul>




                <!-- <list-item-example-one u-list="example in data.vars.examples.list" example="example"> </list-item-example-one> -->

                <!-- <list-item-example-two u-list="example in data.vars.examples.list" html="example.html" title="example.title"> -->
                <!-- </list-item-example-two> -->


    <ul width='100' wrap class=''>
        <tab-links grow='5' tab-info="['tab 1', 'tab 2', 'tab 3']"></tab-links>

    </ul>

</view>
